.pokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid var(--color-poke);
  cursor: pointer;
}
.pokeCard:hover {
  animation: bounce 0.5s linear;
}

.pokeCard h4 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-poke);
  width: 90%;
  text-align: right;
  margin: 5px;
}

.pokeCard .loading {
  animation: blink 1s;
  animation-iteration-count: infinite;
}

.pokeCard .nameContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-poke);
}

.pokeCard .nameContainer h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--color-white);
  text-align: center;
  margin: 10px;
}

@keyframes bounce {
  20% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}