:root {
  --color-poke-type-rock: #B69E31;
  --color-poke-type-ghost: #70559B;
  --color-poke-type-steel: #B7B9D0;
  --color-poke-type-water: #6493EB;
  --color-poke-type-grass: #74CB48;
  --color-poke-type-psychic: #FB5584;
  --color-poke-type-ice: #9AD6DF;
  --color-poke-type-dark: #75574C;
  --color-poke-type-fairy: #E69EAC;
  --color-poke-type-normal: #AAA67F;
  --color-poke-type-fighting: #C12239;
  --color-poke-type-flying: #A891EC;
  --color-poke-type-poison: #A43E9E;
  --color-poke-type-ground: #DEC16B;
  --color-poke-type-bug: #A7B723;
  --color-poke-type-fire: #F57D31;
  --color-poke-type-electric: #F9CF30;
  --color-poke-type-dragon: #7037FF;
  --color-dark-gray: #212121;
  --color-medium-gray: #666666;
  --color-light-gray: #E0E0E0;
  --color-wireframe: #B8B8B8;
  --color-white: #FFFFFF;
  --color-background: #F7F7F7;
}

.rock {
  --color-poke: var(--color-poke-type-rock);
}

.ghost {
  --color-poke: var(--color-poke-type-ghost);
}

.steel {
  --color-poke: var(--color-poke-type-steel);
}

.water {
  --color-poke: var(--color-poke-type-water);
}

.grass {
  --color-poke: var(--color-poke-type-grass);
}

.psychic {
  --color-poke: var(--color-poke-type-psychic);
}

.ice {
  --color-poke: var(--color-poke-type-ice);
}

.dark {
  --color-poke: var(--color-poke-type-dark);
}

.fairy {
  --color-poke: var(--color-poke-type-fairy);
}

.normal {
  --color-poke: var(--color-poke-type-normal);
}

.fighting {
  --color-poke: var(--color-poke-type-fighting);
}

.flying {
  --color-poke: var(--color-poke-type-flying);
}

.poison {
  --color-poke: var(--color-poke-type-poison);
}

.ground {
  --color-poke: var(--color-poke-type-ground);
}

.bug {
  --color-poke: var(--color-poke-type-bug);
}

.fire {
  --color-poke: var(--color-poke-type-fire);
}

.electric {
  --color-poke: var(--color-poke-type-electric);
}

.dragon {
  --color-poke: var(--color-poke-type-dragon);
}

.type {
  --color-poke: var(--color-wireframe);
}